.settings-section-hidden {
  max-height: 0 !important;
}

.settings-section {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #d7e0ec4a;
}

.settings-sub-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

.settings-sub-list li {
  display: block;
  padding: 7px 0;
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
}

.settings-sub-list li:last-child {
  border: none;
}

.settings-sub-section {
  padding: 15px;
  border-bottom: 3px #e8e8e8 solid;
}

.settings-sub-section .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.settings-sub-section h5 {
  text-transform: uppercase;
  margin-bottom: 3px;
  color: #333;
}

.settings-sub-section input[type="text"] {
  text-align: right;
  width: 48px;
}
