.auth-prompt {
  box-sizing: border-box;
  height: 120px;
  background-color: #f6f8fa;
  border-top: 1px #ccc solid;
  padding: 15px;
  animation: slide-up 0.2s ease-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(+100%);
  }
  100% {
    transform: translateY(0);
  }
}

.close-dot {
  background-color: #e4e4e4;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  color: #333;
  cursor: pointer;
}
