.references-section {
  max-height: 5000px;
  transition: max-height 250ms ease-in;
  font-size: 12px;
}

.references-section.collapsed {
  max-height: 25px;
}

.reference-container {
  background: #fff;
  padding-bottom: 10px;
  transition: max-height 200ms ease-in;
}

.reference-files {
  margin: 20px 0;
}

.reference-title {
  height: 30px;
  padding: 10px 7px 5px 7px;
}

.reference-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reference-count {
  margin-top: 3px;
  color: #666;
}

.reference-items {
  padding-bottom: 10px;
}

.reference-item {
  cursor: pointer;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.reference-item:hover {
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
}
