.references-section {
  max-height: 5000px;
  transition: max-height 250ms ease-in;
  font-size: 12px;
}

.references-section.collapsed {
  max-height: 25px;
}

.reference-container {
  padding-bottom: 10px;
  transition: max-height 200ms ease-in;
}

.reference-files {
  margin: 10px 0;
}

.reference-title-container {
  padding: 7px 7px 0 12px;
}

.reference-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.reference-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: bold;
}

.reference-items {
  padding-bottom: 10px;
}

.reference-item {
  cursor: pointer;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.reference-item:hover {
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
}
