.segmented-control {
  display: table;
  width: 100%;
  padding: 0;
}

.segmented-control__item {
  display: table-cell;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 50%;
}

.segmented-control__input {
  position: absolute;
  visibility: hidden;
}

.segmented-control__label {
  display: block;
  margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}

.segmented-control__label:hover {
  background: #fafafa;
}

.segmented-control__input:checked + .segmented-control__label {
  background: #eee;
  color: #333;
}
