.collapse-container {
  position: absolute;
  background: yellow;
  height: 20px;
  width: 30px;
  z-index: 10001;
  top: 50px;
  padding: 5px;
  font-size: 10px;
}

.shown {
  top: 15px;
  left: 180px;
}
