.definitions-section.collapsed {
  max-height: 25px;
  overflow: hidden;
}

.definitions-section {
  background: rgb(250, 251, 252);
  overflow: hidden;
  max-height: calc(100vh - 207px);
  transition: max-height 200ms ease-in;
}

.definition-item.collapsed {
  max-height: 0;
  overflow: hidden;
}

.definition-item {
  max-height: calc(100vh - 207px);
  overflow-y: hidden;
  overflow-x: hidden;
  background: #fff;
  cursor: pointer;
  border-top: 1px solid #f1f8ff;
  border-bottom: 1px solid #f1f8ff;
  margin-top: 10px;
  transition: max-height 200ms ease-in;
}

.definition-item:hover {
  border-top: 1px solid #c8e1ff;
  border-bottom: 1px solid #c8e1ff;
}

.definition-docstring {
  background: #f1f8ff;
  padding: 10px;
  margin: 5px 0px 5px 0px;
}
