.definition-item {
  min-height: 90px;
  cursor: pointer;
}

.definition-name {
  margin-top: 5px;
  padding: 5px;
  border-bottom: 1px solid #c8e1ff;
}

.definition-docstring {
  background: #f1f8ff;
  padding: 10px 5px 10px 5px;
  border-bottom: 1px solid #c8e1ff;
}

.definition-filepath {
  padding: 5px;
}

.expanded-definition {
  width: 640px;
  position: fixed;
  top: 40px;
  left: 236px;
  z-index: 10000;
  border: 1px solid #c8e1ff;
  cursor: text;
}

.expanded-code {
  height: 400px;
  overflow: auto;
}

.expanded-title {
  background: #f1f8ff;
  border-bottom: 1px solid #c8e1ff;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  cursor: text;
  display: flex;
  justify-content: space-between;
  color: #333;
}

.expanded-filepath {
  padding-top: 1px;
}

.expanded-button {
  background: #eee;
  width: 75px;
  text-align: center;
  border-radius: 10px;
  padding: 1px 4px 1px 4px;
  font-size: 12px;
  cursor: pointer;
}
