.reference-container {
  margin: 5px 0px 5px 0px;
}

.reference-title {
  height: 24px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.reference-name {
  font-weight: bold;
}

.reference-count {
  color: #666;
}

.reference-item {
  min-height: 50px;
  cursor: pointer;
  border-top: 1px solid #c8e1ff;
}

.reference-item-line {
  padding: 0px 0 5px 0;
  width: 232px;
}
