.header {
  height: 45px; /* same as github title */
  padding: 4px;
  padding-left: 10px;
  background: rgb(250, 251, 252);
}

.header .branch {
  font-size: 11px;
}

.header p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.header p a {
  font-weight: bold;
}
