.tree-container {
  overflow-x: hidden;
}

.tree-content {
  margin-bottom: 10px;
}

.file-container {
  font-size: 14px;
  margin-top: 1px;
}

.file-container a {
  display: block;
  width: 232px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.file-container a:hover {
  background: #eee;
  text-decoration: none;
}
