.section-header {
  padding: 4px 0px 4px 10px;
  text-transform: uppercase;
  font-size: 11px;
  height: 15px;
  font-weight: bold;
  background: #f1f8ff;
  border-top: 1px solid #c8e1ff;
  border-bottom: 1px solid #c8e1ff;
  cursor: pointer;
  color: #333;
  position: sticky;
  top: 0px;
}

.section-zero-state {
  margin: 20px;
  color: #666;
  font-size: 10px;
  text-transform: uppercase;
  padding: 8px;
  background: #f0f1f3;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #e8e8e8;
}

.section-loader {
  float: right;
  margin-right: 15px;
  width: 12px;
  height: 12px;
}

.section-report {
  color: #999;
}

.section-report:hover {
  color: #333;
}

.status-loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #4483ad;
  width: 100%;
  height: 100%;
  animation: spin 1s linear infinite;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
