#mercury-sidebar * {
  /* Overriding github default */
  box-sizing: content-box;
}

#mercury-sidebar .sidebar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background: rgb(250, 251, 252);
  border-right: #dadada solid 1px;
  font-size: 13px;
  height: 100%;
}

.will-slide-right {
  animation: slide-right 0.2s ease-out;
}

.will-slide-left {
  animation: slide-left 0.2s ease-in;
}

@keyframes slide-right {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.repo-info-sections {
  flex-grow: 1;
  max-height: calc(100vh - 90px);
  overflow: auto;
  background: #fff;
}

.monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.pointer {
  cursor: pointer;
}
