.status {
  height: 32px;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.status-main-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.status-container {
  background: rgb(250, 251, 252);
  height: 64px;
  transition: height 100ms ease-in;
  z-index: 20000;
  position: relative;
}

.status-auth {
  font-weight: 600;
}
