.status {
  height: 32px;
  line-height: 32px;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.status-main-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 232px;
}

.status-container {
  background: rgb(250, 251, 252);
  height: 64px;
  transition: height 100ms ease-in;
  z-index: 20000;
  position: relative;
}

.status-auth {
  font-weight: 600;
}

.status-loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
