.status {
  position: relative;
  height: 40px;
  border-top: 1px #ccc solid;
  background: rgb(250, 251, 252);
  padding: 15px;
  transition: height 100ms ease-in;
}

.status p {
  margin-bottom: 3px;
}

.status-expand-button {
  cursor: pointer;
}
