.settings-section-hidden {
  max-height: 0 !important;
}

.settings-section {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #fff;
}

.support-section {
  background-color: #c7daff5e;
}

.settings-sub-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
}

.settings-sub-list li {
  display: block;
  padding: 7px 0;
  border-bottom: 1px solid #b2c4da52;
  display: flex;
  justify-content: space-between;
}

.settings-sub-list li:last-child {
  border: none;
}

.settings-sub-section {
  padding: 10px;
  border-bottom: 3px #b2c4da52 solid;
}

.settings-sub-section .row {
  display: flex;
  justify-content: space-between;
}

.settings-sub-section input[type="text"] {
  text-align: right;
  width: 48px;
}
