.code-node-button {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  background: #f1f8ff;
  border: 1px solid #c8e1ff;
  color: #444;
  text-align: center;
  border-radius: 10px;
  padding: 2px 6px 2px 6px;
  margin: 0px 1px;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.code-node-button:hover {
  background: #c8e1ff;
}

.code-node-button a:hover {
  text-decoration: none;
}
