.code-node-container {
  padding-bottom: 5px;
  font-size: 12px;
}

.code-node-name {
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.code-node-file {
  padding: 12px 5px 0px 5px;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.code-node-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-node-button {
  width: 54px;
  font-weight: bold;
  background: #f1f1f1;
  color: #666;
  text-align: center;
  border-radius: 10px;
  padding: 1px 4px 1px 4px;
  margin: 10px 5px;
  font-size: 10px;
  text-transform: uppercase;
}
