.expanded-code {
  width: 720px;
  position: fixed;
  z-index: 10010;
  border: 1px solid #c8e1ff;
  cursor: text;
}

.expanded-content {
  min-height: 150px;
  max-height: 400px;
  overflow: auto;
  background: #fff;
}

.expanded-content pre,
.expanded-content code {
  /* overflow to ensure parent shows the scroll bar */
  overflow: visible !important;
  margin: 0;
  padding: 0;
}

.expanded-content pre code {
  /* For bitbucket */
  background-color: #fff;
}

.expanded-title {
  background: #f1f8ff;
  border-bottom: 1px solid #c8e1ff;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  cursor: text;
  display: flex;
  justify-content: space-between;
  color: #333;
}

.expanded-filepath {
  padding-top: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
}

.expanded-button {
  background: #eee;
  width: 75px;
  text-align: center;
  border-radius: 10px;
  padding: 1px 4px 1px 4px;
  font-size: 12px;
  cursor: pointer;
}
