.expanded-code {
  width: 720px;
  position: fixed;
  z-index: 10010;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  cursor: text;
  box-shadow: 0 0 4px 0px rgba(191, 191, 191, 0.4);
}

.expanded-content {
  min-height: 150px;
  max-height: 400px;
  overflow: auto;
  background: #fff;
}

.expanded-content pre,
.expanded-content code {
  /* overflow to ensure parent shows the scroll bar */
  overflow: visible !important;
  margin: 0;
  padding: 0;
}

.expanded-content pre code {
  /* For bitbucket */
  background-color: #fff;
}

.expanded-title {
  background: #f9fafc;
  border-bottom: 1px solid #d8d8d8;
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  cursor: text;
  color: #333;
}

.expanded-filepath {
  padding-top: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
  display: inline-block;
  vertical-align: middle;
}

.expanded-button {
  background: #c8e1ff46;
  text-align: center;
  border-radius: 5px;
  margin-left: 15px;
  padding: 2px 6px 2px 6px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
