.small-code pre {
  padding: 3px 0;
  background-color: #f0f1f3 !important;
}

.small-code code,
.small-code pre {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.small-code pre code {
  font-size: 11px;
}

.small-code pre code span,
.small-code pre code span * {
  word-wrap: break-word;
  white-space: normal;
}
