.hover-box {
  background: #f1f8ff;
  width: 300px;
  min-height: 120px;
  z-index: 10000;
  position: fixed;
  border: solid 1px #c8e1ff;
}

.hover-box .title {
  background: #fff;
  padding: 10px;
  border-bottom: solid 1px #c8e1ff;
}

.hover-box .docstring {
  padding: 10px;
  border-bottom: solid 1px #c8e1ff;
}

.hover-box .filename {
  padding: 10px;
  border-bottom: solid 1px #c8e1ff;
  background: #fff;
}
