.hover-box {
  background-color: #fff;
  min-width: 225px; /* Minimum to fit expand helper for definition */
  max-width: 300px;
  z-index: 10000;
  position: fixed;
  border: solid 1px #eaeaea;
  animation: fade-in 0.15s linear;
  font-size: 12px;
}

.hover-box .docstring {
  padding: 5px;
  background: #f1f8ff;
}

.hover-box .docstring div p:last-child {
  /* Don't want to have the margin for the last child */
  margin-bottom: 0;
}

.hover-box .basic {
  max-height: 24px;
}

.hover-box .basic div p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hover-box .expanded {
  max-height: 350px;
}

.hover-box .expand-helper {
  background-color: #f1f1f1;
  color: #666;
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.hover-box .expand-helper div {
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Following styles for syntax highlighted component */
.hover-box .signature code,
.hover-box .signature pre {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hover-box .signature pre code span,
.hover-box .signature pre code span * {
  word-wrap: break-word;
  white-space: normal;
}
