body {
  /* Required for localhost:3000 */
  font-family: sans-serif;
}

#mercury-sidebar * {
  /* Overriding github default */
  box-sizing: content-box;
}

#mercury-sidebar .mercury-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 232px;
  z-index: 10000;
  background: rgb(250, 251, 252);
  border-right: #ccc solid 1px;
  font-size: 13px;
  height: 100%;
}

.monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}
