body {
  font-family: sans-serif; /* Required for local testing */
}

#mercury-sidebar * {
  /* Overriding github default */
  box-sizing: content-box;
}

#mercury-sidebar .container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 232px;
  z-index: 10000;
  background: #fff;
  border-right: #ccc solid 1px;
  font-size: 13px;
  height: 100%;
  overflow: auto;
}
