body {
  /* Required for localhost:3000 */
  font-family: sans-serif;
}

#mercury-sidebar * {
  /* Overriding github default */
  box-sizing: content-box;
}

#mercury-sidebar .sidebar-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  width: 232px;
  z-index: 10000;
  background: rgb(250, 251, 252);
  border-right: #ccc solid 1px;
  font-size: 13px;
  height: 100%;
}

.will-slide-right {
  animation: slide-right 0.2s ease-out;
}

.will-slide-left {
  animation: slide-left 0.2s ease-in;
}

@keyframes slide-right {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.repo-info-sections {
  flex-grow: 1;
}

.monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.pointer {
  cursor: pointer;
}

.button-div {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  display: inline-block;
  padding: 6px;
  height: 20px;
  width: 20px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
}

.button-div:hover {
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
  background-position: -0.5em;
  border-color: rgba(27, 31, 35, 0.35);
  text-decoration: none;
}

.status-loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
