.tree-container {
  overflow-x: hidden;
  background: #fff;
}

.tree-content {
  margin-bottom: 10px;
}

.file-container {
  font-size: 14px;
  margin-top: 1px;
}

.file-selected a {
  background: #e0eefd;
}

.file-container a {
  display: block;
  width: 232px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.file-container a:hover {
  background: #eee;
  text-decoration: none;
}

.file-triangle {
  height: 10px;
  width: 10px;
  fill: none;
  padding-top: 2px;
}

.file-triangle path {
  stroke: #999;
}

@keyframes slidein {
  from {
    transform: translateY(-6em);
  }

  to {
    transform: translateY(0);
  }
}

.file-children {
  animation-duration: 1s;
  animation-name: slidein;
}
