.tree-container {
  background: #fff;
  overflow: hidden;
}

.tree-content {
  overflow-y: auto;
  overflow-x: hidden;
  transition: max-height 200ms ease-in;
}

.tree-content-visible {
  padding-bottom: 10px;
  max-height: calc(100vh - 232px);
}

.tree-content-hidden {
  max-height: 0;
  padding: 0;
  overflow: hidden;
}

.file-container {
  font-size: 14px;
}

.file-selected a {
  background-color: #e7f2ff;
}

.file-container a {
  display: block;
  width: 232px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 25px;
  line-height: 25px;
}

.file-container a:hover {
  background: #eee;
  text-decoration: none;
}

.folder-structure-container {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  max-height: 3000px; /* Hopefully this will be enough for all cases */
}

.folder-structure-container.collapsed {
  max-height: 25px;
}

.file-triangle {
  height: 10px;
  width: 10px;
  fill: none;
  padding-top: 2px;
  transition: transform 0.1s ease-in-out;
}

.section-triangle {
  transition: transform 0.1s ease-in-out;
  transform: rotate(0);
}

.section-triangle.collapsed {
  transform: rotate(-90deg);
}

.folder-structure-container .file-triangle {
  transform: rotate(0);
}

.folder-structure-container.collapsed .file-triangle {
  transform: rotate(-90deg);
}

.file-triangle path {
  stroke: #999;
}

.tree-additions {
  font-size: 11px;
  color: #2cbe4e;
}

.tree-additions::before {
  content: "+";
}

.tree-deletions {
  font-size: 11px;
  color: #cb2531;
}

.tree-deletions::before {
  content: "-";
}
