.tree-container {
  overflow-x: hidden;
  background: #fff;
}

.tree-content {
  margin-bottom: 10px;
}

.file-container {
  font-size: 14px;
  margin-top: 1px;
}

.file-selected a {
  background: #e0eefd;
}

.file-container a {
  display: block;
  width: 232px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
}

.file-container a:hover {
  background: #eee;
  text-decoration: none;
}

.file-triangle {
  height: 9px;
  width: 9px;
  fill: none;
  padding-top: 3px;
}

.file-triangle path {
  stroke: #999;
}
