:root {
  --status-indicator-size: 10px;
  --status-indicator-animation-duration: 1.5s;
}

.session-status-container {
  text-transform: uppercase;
  font-size: 11px;
  width: 100%;
  font-weight: bold;
  color: #333;
  overflow: hidden;
}

.not-ready {
  background-color: #ffeea991;
}

.session-progress-bar {
  height: 5px;
  background-color: #c8e1ff;
  transition: width 0.3s;
  border-radius: 0;
}

.session-status-text {
  margin-left: 6px;
}

.session-status {
  width: 100%;
  padding: 3px 0px 2px 11px;
  display: flex;
  justify-content: space-between;
}

.session-status-link {
  font-weight: 500;
  cursor: pointer;
  margin-right: 20px;
  color: #666;
}

.session-status-link:hover {
  color: #333;
}
